USE [Laboratory]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 7/23/2026 12:07:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Mobile] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceType]    Script Date: 7/23/2026 12:07:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceType](
	[InsuranceTypeID] [int] IDENTITY(1,1) NOT NULL,
	[InsuranceTypeName] [nvarchar](400) NOT NULL,
	[Description] [nvarchar](400) NULL,
 CONSTRAINT [PK_InsuranceType] PRIMARY KEY CLUSTERED 
(
	[InsuranceTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 7/23/2026 12:07:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[NationalCode] [nvarchar](20) NOT NULL,
	[Mobile] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](1000) NULL,
	[Gender] [bit] NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceptionDetail]    Script Date: 7/23/2026 12:07:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceptionDetail](
	[ReceptionDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[TestID] [int] NOT NULL,
	[Price] [bigint] NOT NULL,
	[ReceptionHeaderID] [int] NOT NULL,
	[Result] [float] NULL,
	[HasStar] [bit] NULL,
 CONSTRAINT [PK_ReceptionDetail] PRIMARY KEY CLUSTERED 
(
	[ReceptionDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceptionHeader]    Script Date: 7/23/2026 12:07:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceptionHeader](
	[ReceptionHeaderID] [int] IDENTITY(1,1) NOT NULL,
	[HeaderDate] [datetime2](7) NOT NULL,
	[PatientID] [int] NOT NULL,
	[NationalCode] [nvarchar](20) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[InsuranceTypeID] [int] NULL,
	[DrName] [nvarchar](50) NOT NULL,
	[TotalPrice] [bigint] NULL,
	[HeaderDescription] [nvarchar](400) NULL,
	[Age] [int] NOT NULL,
 CONSTRAINT [PK_ReceptionHeader] PRIMARY KEY CLUSTERED 
(
	[ReceptionHeaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 7/23/2026 12:07:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[TestName] [nvarchar](200) NOT NULL,
	[UnitID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[AgeHasEffect] [bit] NOT NULL,
	[GenderHasEffect] [bit] NOT NULL,
	[UnitPrice] [bigint] NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestCategory]    Script Date: 7/23/2026 12:07:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](400) NULL,
 CONSTRAINT [PK_TestCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestRange]    Script Date: 7/23/2026 12:07:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestRange](
	[RangeID] [int] IDENTITY(1,1) NOT NULL,
	[TestID] [int] NOT NULL,
	[FromValue] [float] NOT NULL,
	[ToValue] [float] NOT NULL,
	[FromAge] [int] NULL,
	[ToAge] [int] NULL,
	[Gender] [int] NULL,
	[Description] [nvarchar](200) NULL,
	[Hazard] [bit] NULL,
 CONSTRAINT [PK_TestRanges] PRIMARY KEY CLUSTERED 
(
	[RangeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 7/23/2026 12:07:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](400) NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [UserName], [Password], [Mobile], [IsActive]) VALUES (1, N'نادر', N'کسرایی', N'N_Kasraei', N'4545', N'09126523211', 1)
INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [UserName], [Password], [Mobile], [IsActive]) VALUES (4, N'رویا', N'فراهانی', N'R_Farahani', N'8585', N'09113694587', 1)
INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [UserName], [Password], [Mobile], [IsActive]) VALUES (5, N'افشین', N'رفوآ', N'A_Refua', N'123', N'09121112311', 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[InsuranceType] ON 

INSERT [dbo].[InsuranceType] ([InsuranceTypeID], [InsuranceTypeName], [Description]) VALUES (2, N'بیمه تامین اجتماعی', N'بیمه کشوری')
INSERT [dbo].[InsuranceType] ([InsuranceTypeID], [InsuranceTypeName], [Description]) VALUES (3, N'بیمه سلامت', N'کارمندان')
INSERT [dbo].[InsuranceType] ([InsuranceTypeID], [InsuranceTypeName], [Description]) VALUES (4, N'بیمه نیروهای مسلح', N'ارتش ، نیروی انتظامی ، نیروی دریایی ، نیروی زمینی ')
SET IDENTITY_INSERT [dbo].[InsuranceType] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([PatientID], [FirstName], [LastName], [NationalCode], [Mobile], [Address], [Gender]) VALUES (1, N'احسان', N'حسینی', N'0411652398', N'09121478965', N'خ دانشگاه ، ک حق شناس ، پ 74', 0)
INSERT [dbo].[Patient] ([PatientID], [FirstName], [LastName], [NationalCode], [Mobile], [Address], [Gender]) VALUES (2, N'محمد', N'کریمی', N'5095603211', N'09351236547', N'خ جردن ، تقاطع چمران ، ک دی ، پ 65', 0)
INSERT [dbo].[Patient] ([PatientID], [FirstName], [LastName], [NationalCode], [Mobile], [Address], [Gender]) VALUES (3, N'ندا', N'جهانی', N'5099876512', N'09192569874', N'خ سعدی ، ک آرامش ، پ 82', 1)
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
SET IDENTITY_INSERT [dbo].[ReceptionDetail] ON 

INSERT [dbo].[ReceptionDetail] ([ReceptionDetailsID], [TestID], [Price], [ReceptionHeaderID], [Result], [HasStar]) VALUES (1, 50, 150000, 1, 0, 0)
INSERT [dbo].[ReceptionDetail] ([ReceptionDetailsID], [TestID], [Price], [ReceptionHeaderID], [Result], [HasStar]) VALUES (2, 36, 550000, 1, 0, 0)
INSERT [dbo].[ReceptionDetail] ([ReceptionDetailsID], [TestID], [Price], [ReceptionHeaderID], [Result], [HasStar]) VALUES (3, 32, 300000, 1, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[ReceptionDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[ReceptionHeader] ON 

INSERT [dbo].[ReceptionHeader] ([ReceptionHeaderID], [HeaderDate], [PatientID], [NationalCode], [EmployeeID], [InsuranceTypeID], [DrName], [TotalPrice], [HeaderDescription], [Age]) VALUES (1, CAST(N'2024-11-21T00:00:00.0000000' AS DateTime2), 1, N'0411652398', 6, 13, N'محمد نادری', 1290000, N'معرف دکتر جمالی', 49)
INSERT [dbo].[ReceptionHeader] ([ReceptionHeaderID], [HeaderDate], [PatientID], [NationalCode], [EmployeeID], [InsuranceTypeID], [DrName], [TotalPrice], [HeaderDescription], [Age]) VALUES (2, CAST(N'2024-11-22T00:00:00.0000000' AS DateTime2), 2, N'5095603211', 6, 12, N'علیرضا علوی', 900000, N'چکاب کامل', 58)
INSERT [dbo].[ReceptionHeader] ([ReceptionHeaderID], [HeaderDate], [PatientID], [NationalCode], [EmployeeID], [InsuranceTypeID], [DrName], [TotalPrice], [HeaderDescription], [Age]) VALUES (3, CAST(N'2024-11-23T00:00:00.0000000' AS DateTime2), 3, N'5099876512', 1, 11, N'نسیم عبدی', 490000, N'بستری', 64)
SET IDENTITY_INSERT [dbo].[ReceptionHeader] OFF
GO
SET IDENTITY_INSERT [dbo].[Test] ON 

INSERT [dbo].[Test] ([TestID], [TestName], [UnitID], [CategoryID], [AgeHasEffect], [GenderHasEffect], [UnitPrice]) VALUES (1, N'FBS', 1, 1, 0, 0, 100000)
INSERT [dbo].[Test] ([TestID], [TestName], [UnitID], [CategoryID], [AgeHasEffect], [GenderHasEffect], [UnitPrice]) VALUES (2, N'HbA1c', 4, 1, 1, 1, 200000)
INSERT [dbo].[Test] ([TestID], [TestName], [UnitID], [CategoryID], [AgeHasEffect], [GenderHasEffect], [UnitPrice]) VALUES (4, N'eAG', 1, 1, 0, 0, 70000)
SET IDENTITY_INSERT [dbo].[Test] OFF
GO
SET IDENTITY_INSERT [dbo].[TestCategory] ON 

INSERT [dbo].[TestCategory] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'بیوشیمی خون', N'زیست شناسی، ارزیابی عملکرد اعضای بدن')
INSERT [dbo].[TestCategory] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'هورمون شناسی', N'تفسیر اثرات ناشی از هورمون ها در بدن')
INSERT [dbo].[TestCategory] ([CategoryID], [CategoryName], [Description]) VALUES (4, N'هماتولوژی', N'خون شناسی ، انعقاد خون')
SET IDENTITY_INSERT [dbo].[TestCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[TestRange] ON 

INSERT [dbo].[TestRange] ([RangeID], [TestID], [FromValue], [ToValue], [FromAge], [ToAge], [Gender], [Description], [Hazard]) VALUES (1, 1, 70, 115, 1, 200, 2, N'Normal', 0)
INSERT [dbo].[TestRange] ([RangeID], [TestID], [FromValue], [ToValue], [FromAge], [ToAge], [Gender], [Description], [Hazard]) VALUES (6, 5, 13, 43, 1, 200, 2, N'Normal', 0)
INSERT [dbo].[TestRange] ([RangeID], [TestID], [FromValue], [ToValue], [FromAge], [ToAge], [Gender], [Description], [Hazard]) VALUES (9, 8, 50, 150, 1, 200, 2, N'Normal', 0)
SET IDENTITY_INSERT [dbo].[TestRange] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([UnitID], [UnitName], [Description]) VALUES (1, N'mg/dL', NULL)
INSERT [dbo].[Unit] ([UnitID], [UnitName], [Description]) VALUES (2, N'Sec', NULL)
INSERT [dbo].[Unit] ([UnitID], [UnitName], [Description]) VALUES (3, N'U/L', NULL)
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [DF_Patient_Gender]  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[ReceptionHeader] ADD  CONSTRAINT [DF_ReceptionHeader_HeaderDate]  DEFAULT (getdate()) FOR [HeaderDate]
GO
ALTER TABLE [dbo].[Test] ADD  CONSTRAINT [DF_Tests_AgeHasEffect]  DEFAULT ((0)) FOR [AgeHasEffect]
GO
ALTER TABLE [dbo].[Test] ADD  CONSTRAINT [DF_Tests_GenderHasEffect]  DEFAULT ((0)) FOR [GenderHasEffect]
GO
ALTER TABLE [dbo].[TestRange] ADD  CONSTRAINT [DF_TestRanges_Hazard]  DEFAULT ((0)) FOR [Hazard]
GO
ALTER TABLE [dbo].[Unit] ADD  CONSTRAINT [DF_Units_NoUnit]  DEFAULT ((1)) FOR [Description]
GO
ALTER TABLE [dbo].[ReceptionDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReceptionDetail_ReceptionHeader] FOREIGN KEY([ReceptionHeaderID])
REFERENCES [dbo].[ReceptionHeader] ([ReceptionHeaderID])
GO
ALTER TABLE [dbo].[ReceptionDetail] CHECK CONSTRAINT [FK_ReceptionDetail_ReceptionHeader]
GO
ALTER TABLE [dbo].[ReceptionDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReceptionDetail_Test] FOREIGN KEY([TestID])
REFERENCES [dbo].[Test] ([TestID])
GO
ALTER TABLE [dbo].[ReceptionDetail] CHECK CONSTRAINT [FK_ReceptionDetail_Test]
GO
ALTER TABLE [dbo].[ReceptionHeader]  WITH CHECK ADD  CONSTRAINT [FK_ReceptionHeader_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[ReceptionHeader] CHECK CONSTRAINT [FK_ReceptionHeader_Employee]
GO
ALTER TABLE [dbo].[ReceptionHeader]  WITH CHECK ADD  CONSTRAINT [FK_ReceptionHeader_InsuranceType] FOREIGN KEY([InsuranceTypeID])
REFERENCES [dbo].[InsuranceType] ([InsuranceTypeID])
GO
ALTER TABLE [dbo].[ReceptionHeader] CHECK CONSTRAINT [FK_ReceptionHeader_InsuranceType]
GO
ALTER TABLE [dbo].[ReceptionHeader]  WITH CHECK ADD  CONSTRAINT [FK_ReceptionHeader_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[ReceptionHeader] CHECK CONSTRAINT [FK_ReceptionHeader_Patient]
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Tests_TestCategory1] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[TestCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[Test] CHECK CONSTRAINT [FK_Tests_TestCategory1]
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Units] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([UnitID])
GO
ALTER TABLE [dbo].[Test] CHECK CONSTRAINT [FK_Tests_Units]
GO
ALTER TABLE [dbo].[TestRange]  WITH CHECK ADD  CONSTRAINT [FK_TestRanges_Tests1] FOREIGN KEY([TestID])
REFERENCES [dbo].[Test] ([TestID])
GO
ALTER TABLE [dbo].[TestRange] CHECK CONSTRAINT [FK_TestRanges_Tests1]
GO
